build/
build-asan/
build-dev/
build-rel/

*.o
*.a
*.so
*.dylib
*.exe

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
Testing/
*.cmake
!CMakeLists.txt

compile_commands.json

.DS_Store
.AppleDouble
.LSOverride

*.swp
*.swo
*~
.*.swp

.vscode/*.log
.vscode/.browse.*
.idea/
*.code-workspace

*.log
*.out

